* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.card img {
  width: 355px;
  height: 200px;
  border-radius: 5px;
}
.blueWord {
  font-size: 12px;
  color: blue;
}
.card h1 {
  font-size: 20px;
}
.card p {
  color: gray;
}
.cardsFlex {
  display: flex;
  width: 1000px;
  margin: auto;
  gap: 20px;
}
.imgHeader {
  padding: 5px 15px 30px 15px;
}
.header {
  display: flex;
  margin-bottom: 20px;
}
.header img {
  width: 180px;
  height: 40px;
  padding: 0 50px 0 10px;
}
.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ikon-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.svg {
  width: 40px;
}
.searchButton {
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}
/* # components*/
.flexDiv {
  display: flex;
  justify-content: center;
}
.flexDiv img {
  width: 378px;
  height: 200px;
}
.rowImg {
  width: 950px;
  height: 110px;
  margin-bottom: 20px;
}
.rowArr {
  width: 380px;
  height: 568px;
  border-radius: 6px;
  overflow: hidden;
}
