.breakFlex {
  display: flex;
  height: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.yellowBreak {
  background-color: rgb(255, 149, 0);
  border: 5px 0px 0px 5px;
  color: black;
  font-size: 10px;
  height: 25.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerYellow {
  background-color: rgb(229, 224, 224);
}
.headerYellow h2 {
  font-weight: 700px;
}
