.firstDiv {
  width: 780px;
  height: 520px;
  border-radius: 5px;
}
.secondDiv {
  width: 380px;
  height: 170px;
}
.firstDiv img {
  width: 780px;
  height: 320px;
}
.secondDiv img {
  width: 380px;
  height: 200px;
}
