.firstDiv {
  height: 440px;
  border-radius: 5px;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
  border: solid 1px grey;
  overflow: hidden;
}
.secondDiv {
  height: 80px;
}
.firstDiv img {
  width: 700px;
  height: 320px;
}
.secondDiv img {
  width: 300px;
  height: 200px;
}
.secondDiv h1 {
  font-size: 15px;
}
